
services:
  php56:
    build: .
    container_name: php56
    volumes:
      - .:/var/www/html
    ports:
      - "8000:80"
    depends_on:
      - db

  db:
    image: postgres:12
    container_name: postgres_db
    # environment:
    #   POSTGRES_DB: processo_seletivo
    #   POSTGRES_USER: user
    #   POSTGRES_PASSWORD: secret
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
