body {
    font-family: 'Sora', sans-serif;
}

h2 {
   color: #145a2d;   
}

h4 {
   color: #145a2d; 
}


.title__green {
    color: #effbe6;
    
    font-size: 1rem;
    text-transform: uppercase;
    background:#145a2d;
    
}


.cel__green {
    color: #145a2d;    
    font-weight: 700;
    background: #effbe6;
}



.discipline__name {
    color: #4DA656;
    font-weight: 500;
}


.text__red {
    color: #ff0000;
    font-weight: bold;
    background-color: #ffe5e5; 
    text-align: center;
}

.text__blue {
    background-color: #00B4E1; 
    color: #00555F;
    font-weight: 700;    
}


.observacao__boletim {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 230, 230, 0.6);
    border: 1px solid rgba(220, 53, 69, 0.3);
    border-radius: 14px;
    padding: 15px 20px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    max-width: 100%;
    margin: 0 auto;
}


.obs__icon {
    background: #dc3545;
    color: #fff;
    font-weight: bold;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 3px 8px rgba(220, 53, 69, .4);
}

.obs__text {
    font-size: 1rem;
    color: #444;
    line-height: 1.4;
}




